<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{/layout/plantilla :: head}">
        <title>Quienes Somos</title>
        <meta charset="UTF-8"/> <!-- Alfabeto -->
    </head>
    <body>

        <!-- 1 Sección de quiénes somos -->
        <section th:fragment="contQuienesSomos" class="about-section container my-4">
            <div class="content-box"> <!-- Cuadro en blanco -->
                <div class="row align-items-center">
                    <!-- Columna Izquierda -->
                    <div class="col-md-4 text-left">
                        <h2 class="section-title text-center">[[#{plantilla.quienessomos}]]</h2>
                        <p class="text-muted text-center">[[#{aplicacion.titulo}]]</p>
                    </div>

                    <!-- Columna Derecha -->
                    <div class="col-md-8">
                        <p th:text="#{quienesSomos.mensaje}"></p>
                        <p th:text="#{quienesSomos.mensaje2}"></p>
                        <p th:text="#{quienesSomos.mensaje3}"></p>
                    </div>

                </div>
            </div>
        </section>
        
        <!-- 2 Sección donde se muestra la mision y vision-->
        <section th:fragment="misionVision" class="about-section container my-4">
            <div class="content-box"> <!-- Cuadro en blanco -->
                <div class="row justify-content-between px-3">
                    <!-- Columna Izquierda - Misión -->
                    <div class="col-md-5">
                        <h2 class="section-title text-center py-2">[[#{plantilla.mision}]]</h2>
                        <p class="justify">[[#{mision}]]</p>
                    </div>

                    <!-- Columna Derecha - Visión -->
                    <div class="col-md-5">
                        <h2 class="section-title text-center py-2">[[#{plantilla.vision}]]</h2>
                        <p class="justify">[[#{vision}]]</p>
                    </div>
                </div>
            </div>  
        </section>
        
    </body>
</html>