<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{/layout/plantilla :: head}">
        <title>Pruebas</title>
        <meta charset="UTF-8"/> <!-- Alfabeto -->
    </head>
    <body>

        <!-- 1 Sección donde se muestran las recetas -->
        <section th:fragment="btnAgregar" class="py-2 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button"
                                class="btn btn-primary btn-block"
                                data-bs-toggle="modal"
                                data-bs-target="#modalAgregarReceta">
                            <i class="fas fa-plus"></i> [[#{receta.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Sección donde se muestra la ventana modal de agregar recetas -->
        <div th:fragment="agregarReceta">
            <div id="modalAgregarReceta" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{receta.agregar}]]</h5>
                            <button type="button"
                                    class="btn btn-close"
                                    data-bs-dismiss="modal">
                            </button>
                        </div>
                        <form th:action="@{/receta/guardar}"
                              th:object="${receta}"
                              method="post"
                              class="was-validated"
                              enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label>[[#{receta.nombre}]]</label>
                                    <input type="text" class="form-control"
                                           name="*{nombre}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{receta.ingredientes}]]</label>
                                    <textarea class="form-control" 
                                              name="*{ingredientes}" 
                                              rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{receta.preparacion}]]</label>
                                    <textarea class="form-control"
                                              name="*{preparacion}" 
                                              rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label>[[#{receta.imagen}]]</label>
                                    <input type="file" class="form-control"
                                           onchange="readURL(this);"
                                           name="imagenFile"/>
                                    <img id="blah" src="#" alt="no data" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">
                                    <i class=""/> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>

        <!-- 2 Sección donde se muestra el listado de las recetas -->
        <section th:fragment="recetas" class="container my-5">
            <div class="row"> <!-- Contenedor de la fila -->
                <div class="col-md-6"> 
                    <div class="content-box"> <!-- Cuadro en blanco -->
                        <div class="row align-items-center">
                            <h2 class="section-title text-center">[[#{blog.recetas}]]</h2>
                            <p class="text-muted text-center">[[#{aplicacion.titulo}]]</p>
                        </div>

                        <h5 class="brand text-center mb-3">[[#{recetas.mensaje}]]</h5>
                        <p class="justify">[[#{recetas.mensaje2}]]</p>
                        <p class="justify">[[#{recetas.mensaje3}]]</p>
                        <p class="text-center brand" style="color: #4CAF50">[[#{recetas.mensaje4}]]</p>
                    </div>
                </div>

                <!-- Cuadro de Tarjetas a la Derecha -->
                <div class="col-md-6">
                    <div class="content-box p-4">
                        <div class="row g-4 justify-content-center">
                            <!-- Tarjetas de recetas -->
                            <div class="col-10" th:each="r : ${recetas}">
                                <div class="card">
                                    <img th:src="@{${r.imagen}}" 
                                         class="card-img-top img-fluid" 
                                         alt="Imagen no disponible"
                                         height="200"/>
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <h5 class="card-title mb-0">[[${r.nombre}]]</h5>
                                        <a class="btn btn-primary" 
                                           th:href="@{/blog/detalle/{id}(id=${r.idReceta})}"
                                           role="button">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>