<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{/layout/plantilla :: head}">
        <title>Pruebas</title>
        <meta charset="UTF-8"/> <!-- Alfabeto -->
    </head>
    <body>
        
        <header th:replace="~{layout/plantilla :: header}"/>

        <main>
            <section th:replace = "~{productos/fragmentos :: btnAgregar}"/>
            <section th:replace = "~{productos/fragmentos :: agregarProducto}"/>
            <section th:replace = "~{productos/fragmentos :: tabsCategorias}"/>
            <section th:replace = "~{productos/fragmentos :: tarjetas}"/>
        </main>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
