<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{/layout/plantilla :: head}">
        <title>Pruebas</title>
        <meta charset="UTF-8"/> 
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
            <section th:replace="~{layout/plantilla :: offcanva}"/>
        
        <!-- Seccion bienvenidos a la derecha -->
        <section class="hero-section"> <!-- Bloque verde -->
            <div class="hero-text"> <!-- Formato para el texto -->
                <h1>BIENVENIDOS A <span class="brand">VEGAN SITAVI</span></h1> <!-- Brand solo tiene el estilo para texto Bold -->
            </div>
        </section>

        <section class="about-section container my-5">
            <div class="content-box"> <!-- Cuadro en blanco -->
                <div class="row align-items-center">
                    <!-- Columna Izquierda -->
                    <div class="col-md-4 text-left">
                        <h2 class="section-title">[[#{plantilla.quienessomos}]]</h2>
                        <p class="text-muted text-center">[[#{aplicacion.titulo}]]</p>
                        <a href="#" class="more-info d-block text-center mx-auto">[[#{plantilla.masinformacion}]]</a>
                    </div>

                    <!-- Columna Derecha -->
                    <div class="col-md-8">
                        <p>Somos una empresa costarricense dedicada a la elaboración de productos 100% veganos, artesanales y libres de azúcar añadida y preservantes. Desde 2021, nos hemos comprometido a ofrecer opciones deliciosas y nutritivas, elaboradas con ingredientes naturales y de la más alta calidad.</p>
                        <p>Nuestra pasión por la alimentación saludable nos ha llevado a crear una línea de productos que mantienen el equilibrio perfecto entre sabor y bienestar.</p>
                        <p>Creemos en una alimentación consciente, en el respeto por los ingredientes y en la importancia de llevar opciones saludables a cada hogar. Con cada producto, buscamos inspirar un estilo de vida más natural, sostenible y delicioso.</p>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
