<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{/layout/plantilla :: head}">
        <title>Pruebas</title>
        <meta charset="UTF-8"/>
    </head>

    <body>

        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{layout/plantilla :: offcanva}"/>

        <main class="mb-5">
            <div class="container-fondo">
                <!-- Seccion bienvenidos a la derecha -->
                <section class="hero-section"> <!-- Bloque verde -->
                    <div class="hero-text"> <!-- Formato para el texto -->
                        <h1>[[#{plantilla.bienvenido}]] <span class="brand">[[#{aplicacion.titulo.mayus}]]</span></h1> <!-- Brand solo tiene el estilo para texto Bold -->
                    </div>
                </section>
            </div>
        </main>
        
        <section th:replace="~{productos/fragmentos :: tarjetas}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
